{% extends "bases/base_empresarial.html" %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'agendamentos/css/css.css' %}" rel="stylesheet">
    <link href="{% static 'agendamentos/css/filtrar.css' %}" rel="stylesheet">
    <style>
        table{
            background-color: #d3d3d3
        }
    </style>
{% endblock 'head' %}


{% block 'conteudo' %}
    <br> 
    <br>
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md">
                <form action="{% url "ver_agendamentos" %}" method="GET">
                <label for="">Data</label>
                <input type="date" class="form-control" name="data" id="date">
            </div>
            <div class="col-md">
                <br>
                <input type="submit" class="btn-default">
                </form>
            </div>
        </div>
        <br>
        <div class="card card-view">
            <table>
                <tr>
                  <th>Cliente</th>
                  <th>Atendimento</th>
                  <th>Data</th>
                </tr>

                {% for agendamento in agendamentos %}
                    <tr class="">
                        <td><a href="{% url "cliente" agendamento.usuario.id %}">{{agendamento.usuario}}</a></td>
                        <td>{{agendamento.exame}}</td>
                        <td>{{agendamento.data}}</td>
                        
                        <td>
                        
                        </td>
                    </tr>
                {% endfor %}
                
              </table>
              
        </div>

    </div>

{% endblock 'conteudo' %}